@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Regular'),
  url('./fonts/netflix-sans-Regular.woff2') format('woff2');
}
@font-face{
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Bold'),
  url('./fonts/netflix-sans-Bold.woff2') format('woff2');
  font-weight: bold;
}
@font-face{
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Medium'),
  url('./fonts/netflix-sans-Medium.woff2') format('woff2');
  font-weight: 600;
}
@font-face{
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Light'),
  url('./fonts/netflix-sans-Light.woff2') format('woff2');
  font-weight: 300;
}
body{
  font-family: 'Netflix Sans';
}